.footer-comp{
    background: rgb(54, 53, 53);
    position: fixed;
    margin:25px 0 0;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100vw;
    text-align: center;
    color: white;
    p{
        padding: 38px 10px 0 10px;
    }
}